<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="ticket-booking-papi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="ticket-booking-papi-config" api="resource::c01f82a6-7df0-4b05-860e-12711fd918eb:ticket-booking-papi:1.0.0:raml:zip:ticket-booking-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="b5f31da2-3b5f-41e9-98bf-352923eeb843" file="properties\default.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="84ae7bdb-709b-40a6-b43a-5fa933acff49" file="properties\dev.yaml" key="railway@13579#00" />
	<http:request-config name="Railway_Reservation_SAPI" doc:name="HTTP Request configuration" doc:id="f85766c7-43cf-4cd9-a97d-8845a66f807f" basePath="/api" >
		<http:request-connection host="${secure::railwayReservation_SAPI.host}" />
	</http:request-config>
	<http:request-config name="Passengers_POI_SAPI" doc:name="HTTP Request configuration" doc:id="d4eb2db2-1880-4986-810a-c09d30d6604e" basePath="/api" >
		<http:request-connection host="${secure::passengersPOI_SAPI.host}" />
	</http:request-config>
	<http:request-config name="Train_Details_SAPI" doc:name="HTTP Request configuration" doc:id="e5a0d215-26f8-48f1-90fc-eb4ab6718a77" basePath="/api" >
		<http:request-connection host="${secure::trainDetails_SAPI.host}" />
	</http:request-config>
   

</mule>
